<div class="page-footer__row">
    <svg width="1344" height="20.16" aria-hidden="true" class="icon-herringbone">
        <use xlink:href="#herringbone" />
    </svg>
    <svg width="1344" height="20.16" aria-hidden="true" class="icon-herringbone">
        <use xlink:href="#herringbone" />
    </svg>
    <svg width="1344" height="20.16" aria-hidden="true" class="icon-herringbone">
        <use xlink:href="#herringbone" />
    </svg>


    <p class="page-footer__year">
        ZK35, 2019
    </p>

    <a href="https://markweber.ru/" class="page-footer__made-by">
        
        
        <img src="img/mark-weber-logo.svg" alt="Логотип Марк Вебер" width="100" height="24" class="page-footer__made-by-logo">
    </a>
</div>