{% set title = "ZK35" %} {% extends "layout.html" %} {% block content %}

<section class="page-section intro">
    <div class="intro__container">
        <div class="intro__row">
            <div class="intro__column intro__column--left">
                <div class="intro__main-content">
                    <img src="img/logo-small.svg" alt="Маленький логотип" class="intro__main-content-image" width="212" />
                    <h1 class="intro__main-heading">Закрой свою задолженность <br>за <em>35%</em> от суммы</h1>

                    <a href="#" class="btn intro__main-content-btn">
                        Рассчитать
                    </a>
                </div>
            </div>
            <div class="intro__column intro__column--right">
                <a href="#" class="intro__login-link">
                    <img src="img/knight.png" alt="Картинка с рыцарем" class="intro__login-link-image" width="268" />
                    <span class="intro__login-link-text">
                        Вход в личный кабинет
                    </span>
                    <span class="intro__login-link-overlay"> </span>
                    <span class="intro__login-link-overlay-text">
                        Войти
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- <section class="page-section info">
    <div class="info__row">
        <div class="info__column">
            <div class="info__article default-content">
                <h3>
                    Какие долги я могу закрыть?
                </h3>
                <p>
                    <b>Компания закрывает за Вас любой долг:</b>
                </p>
                <ul>
                    <li>ипотека;</li>
                    <li>автокредит;</li>
                    <li>налоговая задолженность;</li>
                    <li>долг перед приставами;</li>
                    <li>потребительский кредит;</li>
                    <li>расписка;</li>
                    <li>и другие;</li>
                </ul>
            </div>
        </div>
        <div class="info__column">
            <div class="info__article default-content">
                <h3>
                    Как я защищен юридически?
                </h3>
                <p>
                    <b>Компания закрывает за Вас любой долг:</b>
                </p>
                <ul>
                    <li>
                        Договор поручения. В этом договоре указаны реквизиты счета клиента или кредитора, куда компания будет перечислять средства для закрытия задолженности, точная сумма ежемесячных платежей и точные даты платежей.
                    </li>
                    <li>
                        Договор займа, на сумму переданных средств.
                    </li>
                    <li>
                        Донсультационный договор. Это договор на обслуживания клиента в течении года (техническое и юридическое сопровождение при диалоге с кредитором).
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="page-section debt">
    <div class="debt__slider js-debt-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="debt__card">
                        <div class="debt__card-content default-content">
                            <h3>
                                Примеры долгов
                            </h3>
                            <p>
                                Напряжение переносит многофазный песок. Подбел локально усиливает гумин. Жидкость, как следствие уникальности почвообразования в данных условиях, отталкивает турбулентный песок.
                            </p>
                            <p>
                                Верховодка, как следствие уникальности почвообразования в данных условиях, инструментально обнаружима. Желтозём горизонтально перемещает межагрегатный влагомер. Гончарный дренаж дает равновесный монолит.
                            </p>
                        </div>
                        <div class="debt__card-author">
                            <div class="debt__card-author-image-container">
                                <img src="img/user.jpg" width="250" alt="Фотография автора" class="debt__card-author-image" />
                            </div>
                            <p class="debt__card-author-name">
                                Василий, 35 лет
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="debt__card">
                        <div class="debt__card-content default-content">
                            <h3>
                                Примеры (Второй слайд)
                            </h3>
                            <div class="debt__card-content-wrapper default-content">
                                <p>
                                    Верховодка, как следствие уникальности почвообразования в данных условиях, инструментально обнаружима. Желтозём горизонтально перемещает межагрегатный влагомер. Гончарный дренаж дает равновесный монолит.
                                </p>
                            </div>
                        </div>
                        <div class="debt__card-author">
                            <div class="debt__card-author-image-container">
                                <img src="img/user.jpg" width="250" alt="Фотография автора" class="debt__card-author-image" />
                            </div>
                            <p class="debt__card-author-name">
                                Андрей, 25 лет
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="debt__slider-navigation">
            <button class="debt__slider-button debt__slider-button--inverted js-debt-slider-prev">
                <span class="debt__slider-button-content">
                    <svg width="62" height="42" aria-hidden="true" class="icon-arrow-right-contour">
                        <use xlink:href="#arrow-right-contour" />
                    </svg>
                    <svg width="62" height="42" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right" />
                    </svg>
                </span>
            </button>
            <button class="debt__slider-button js-debt-slider-next">
                <span class="debt__slider-button-content">
                    <svg width="62" height="42" aria-hidden="true" class="icon-arrow-right-contour">
                        <use xlink:href="#arrow-right-contour" />
                    </svg>
                    <svg width="62" height="42" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right" />
                    </svg>
                </span>
            </button>
        </div>
    </div>
</section> -->

{% endblock %}
