{% set title = "Главная страница" %} {% extends "layout.html" %} {% block content %}

<section class="page-section intro">
    <div class="intro__container">
        <div class="intro__row">
            <div class="intro__column intro__column--left">
                <div class="intro__main-content">
                    <img src="img/logo-small.png" alt="Маленький логотип" class="intro__main-content-image" width="212" />
                    <h1 class="intro__main-heading">Закрой свою задолженность за <em>35%</em> от суммы</h1>

                    <a href="#" class="btn intro__main-content-btn">
                        Рассчитать
                    </a>
                </div>
            </div>
            <div class="intro__column intro__column--right">
                <a href="#" class="intro__login-link">
                    <img src="img/knight.png" alt="Картинка с рыцарем" class="intro__login-link-image" width="268" />
                    <span class="intro__login-link-text">
                        Вход в личный кабинет
                    </span>
                    <span class="intro__login-link-overlay"> </span>
                    <span class="intro__login-link-overlay-text">
                        Войти
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>


<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 20.11"><polygon points="49 0 49 2.47 24.5 20.11 0 2.47 0 0 24.5 17.64 49 0"/></svg> -->

{% endblock %}
