.btn {
    font-size: var(--medium-font-size);
    line-height: var(--medium-line-height);
    letter-spacing: var(--medium-letter-spacing);
    text-transform: uppercase;
    padding: 1.9rem 4.8rem;
    border: 2px solid black;
    display: inline-block;
    position: relative;
    text-align: center;
    user-select: none;
    @include noHighlight();
    
    &:link,
    &:visited {
        color: var(--primary-font-color);
    }

    
}