@font-face {
    font-family: 'Helios Condensed';
    src: url('../misc/fonts/helioscond-webfont.woff2') format('woff2'), url('../misc/fonts/helioscond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Helios Condensed';
    src: url('../misc/fonts/helioscond-bold-webfont.woff2') format('woff2'), url('../misc/fonts/helioscond-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
