*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    // Переменные контейнера
    --max-container-width: 1480px;
    --content-padding: 40px;

    // Переменные цвета
    --primary-color: #feea74;


    // Переменные шрифтов
    --primary-font-color: black;
    --primary-font: 'Helios Condensed', sans-serif;

    // Переменные размера шрифтов
    --medium-font-size: 2.4rem;
    --medium-line-height: 1.16;
    --medium-letter-spacing: .3rem;



    --h1-size: 5.5rem;
    --h1-letter-spacing: 0.7rem;
    --h1-line-height: 1.45;


    @include breakpoint(mobile) {
        --content-padding: 20px;
    }
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    @include breakpoint(desktop) {
        font-size: 52%;
    }
    @include breakpoint(laptop) {
        font-size: 46%;
    }
    @include breakpoint(small-tablet) {
        font-size: 38%;
    }
}

body {
    min-width: 320px;
    font-family: var(--primary-font);
    color: var(--primary-font-color, black);
    font-size: 1.6rem;
    line-height: 1.2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

ol {
    counter-reset: ordered-list;
    li {
        counter-increment: ordered-list;
        &::before {
            content: counter(ordered-list) '.';
        }
    }
}

input,
textarea {
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
}

textarea {
    resize: none;
    box-shadow: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    font: inherit;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: top;
}

.visually-hidden {
    @include visuallyHidden();
}

.swiper-slide {
    box-sizing: border-box;
    height: auto;
}

::selection {
    color: var(--primary-font-color);
    background-color: var(--primary-color);
}
