.intro {
    margin-left: calc((100vw - 100%) / 2 * -1);
    margin-right: calc((100vw - 100%) / 2 * -1);
    overflow: hidden;
}

.intro__container {
    max-width: calc(var(--max-container-width, 1200px) + (var(--content-padding, 20px) * 2));
    margin: 0 auto;
    padding: 0 var(--content-padding);
    @include breakpoint(large-desktop) {
        max-width: none;
        margin: 0;
        padding: 0;
    }

    @include breakpoint(mobile) {
        max-width: calc(var(--max-container-width, 1200px) + (var(--content-padding, 20px) * 2));
        margin: 0 auto;
        padding: 0 var(--content-padding);
    }
}

.intro__row {
    display: flex;
    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.intro__column {
    position: relative;
    display: flex;
    flex-direction: column;

    &--left {
        width: 30%;
        flex-grow: 1;
        @include breakpoint(mobile) {
            width: 100%;
            &::after {
                content: '';
                height: 2px;
                background-color: #000;
                position: absolute;
                width: 100vw;
                left: calc((100vw - 100%) / 2 * -1);
                bottom: 0;
            }
        }
    }
    &--right {
        width: 48rem;
        flex-shrink: 0;
        border-left: 2px solid black;
        @include breakpoint(mobile) {
            width: 100%;
            border-left: none;
        }
    }
}

.intro__main-heading {
    font-size: var(--h1-size);
    line-height: var(--h1-line-height);
    letter-spacing: var(--h1-letter-spacing);
    font-weight: normal;
    text-transform: uppercase;
    @include zig-zag();
    @include breakpoint(mobile) {
        font-size: 4rem;
        letter-spacing: 1.1rem;
        line-height: 1.4;
    }
    > em {
        display: inline-block;
        vertical-align: baseline;
        position: relative;
        font-style: normal;
        &::before {
            content: '';
            position: absolute;
            top: 0.6rem;
            bottom: 0.6rem;
            right: -0.6rem;
            left: -1.5rem;
            z-index: -1;
            border-radius: 1rem;
            background-color: var(--primary-color);
            @include breakpoint(mobile) {
                top: 0.1rem;
                bottom: 0.1rem;
            }
        }
    }
}

.intro__main-content,
.intro__login-link {
    padding: 10rem 0;
}

.intro__main-content {
    flex-grow: 1;
    padding-right: 5rem;
    @include breakpoint(large-desktop) {
        padding-right: 10rem;
        padding-left: 10rem;
    }
    
    @include breakpoint(mobile) {
        padding-right: 0;
        padding-left: 0;
        padding-top: 5rem;
        padding-bottom: 11rem;
    }
}

.intro__main-content-image {
    width: 21.2rem;
    display: block;
    margin-bottom: 7rem;
    @include breakpoint(mobile) {
        width: 18rem;
        margin-bottom: 5rem;
    }
}

.intro__main-content-btn {
    margin-top: 7.5rem;
    
    @include breakpoint(mobile) {
        width: 100%;
    }
    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        background-color: var(--primary-color);
        left: 0;
        top: 0;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        margin-top: calc(1rem + 2px);
        margin-left: calc(1rem + 2px);
        transition: all 0.5s;
    }

    .no-touch &:hover {
        &::before {
            transform: scale(25);
        }
    }
}

.intro__login-link {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    position: relative;
    @include noHighlight();
    @include breakpoint(mobile) {
        padding-top: 5rem;
        padding-bottom: 5rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color: #fff;
        @include breakpoint(mobile) {
            left: calc(var(--content-padding) * -1);
        }
    }
    &-overlay {
        position: absolute;
        transform-origin: center bottom;
        transform: translateZ(0) scaleY(0);
        transition: transform 0.3s ease-out;
        z-index: 10;
        height: 100%;
        left: 0;
        top: 0;
        width: 100vw;
        background-color: var(--primary-color);
        @include breakpoint(mobile) {
            display: none;
        }
        &-text {
            font-size: var(--h1-size);
            line-height: var(--h1-line-height);
            letter-spacing: var(--h1-letter-spacing);
            text-transform: uppercase;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 15;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transform: translateY(50px);
            transition: opacity 0.2s, transform 0.2s;
            @include breakpoint(mobile) {
                display: none;
            }
        }
    }

    &:link,
    &:visited {
        color: var(--primary-font-color);
    }

    .no-touch &:hover &-overlay {
        transform: translateZ(0) scaleY(1);
        &-text {
            opacity: 1;
            transform: translateY(0);
            transition: opacity 0.2s linear 0.2s, transform 0.2s ease-out 0.2s;
        }
    }
}

.intro__login-link-image {
    width: 26.8rem;
    height: auto;
    display: block;
    flex-shrink: 0;
    @include breakpoint(mobile) {
        width: 17rem;
        margin-right: 5rem;
    }
}

.intro__login-link-text {
    font-size: var(--medium-font-size);
    line-height: var(--medium-line-height);
    letter-spacing: var(--medium-letter-spacing);
    margin-top: 6rem;
    text-transform: uppercase;
    @include breakpoint(mobile) {
        margin-top: 0;
        width: 50%;
    }
}
