@mixin noHighlight() {
    -webkit-tap-highlight-color: transparent;
}

@mixin visuallyHidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

@mixin zig-zag() {
    &::after {
        content: '';
        display: block;
        width: 7rem;
        height: 3rem;
        margin-top: 2rem;
        background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 74.05 26.09'%3E%3Cpath fill='%23feea74' d='M69.79 2.41L50.4 17.29l-2.01-1.52-4.97 3.81L24.95 5.61 5.78 20.42l4.28 5.54L29.94 10.6l20.49 15.49L74.05 7.97l-4.26-5.56z'/%3E%3Cpath fill='%23feea74' d='M45.9 13.89L29.89 1.78l-2.48 1.93 16 12.09 2.49-1.91z'/%3E%3Cpath d='M48.39 15.77L65.83 2.38 64 0 45.9 13.89l-2.49 1.91-16-12.09L22.91.3 0 18l1.83 2.38 21.1-16.3 2.02 1.53 18.47 13.97 4.97-3.81z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@mixin noHighlight() {
    -webkit-tap-highlight-color: transparent;
}

@mixin objectFitCover() {
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
}

@mixin objectFitCoverTop() {
    object-fit: cover;
    object-position: top;
    font-family: 'object-fit: cover; object-position: top;';
}

@mixin objectFitContain() {
    object-fit: contain;
    object-position: center;
    font-family: 'object-fit: contain; object-position: center;';
}

@mixin objectFitContainBottom() {
    object-fit: contain;
    object-position: bottom;
    font-family: 'object-fit: contain; object-position: bottom;';
}

@mixin breakpoint($class) {
    @if $class == large-desktop {
        @media only screen and (max-width: (1600 / 16) * 1em) {
            @content;
        }
    } @else if $class == desktop {
        @media only screen and (max-width: (1440 / 16) * 1em) {
            @content;
        }
    } @else if $class == laptop {
        @media only screen and (max-width: (1200 / 16) * 1em) {
            @content;
        }
    } @else if $class == tablet {
        @media only screen and (max-width: (1024 / 16) * 1em) {
            @content;
        }
    } @else if $class == small-tablet {
        @media only screen and (max-width: (968 / 16) * 1em) {
            @content;
        }
    } @else if $class == mobile {
        @media only screen and (max-width: (700 / 16) * 1em) {
            @content;
        }
    } @else if $class == small-mobile {
        @media only screen and (max-width: (576 / 16) * 1em) {
            @content;
        }
    } @else if $class == supersmall-mobile {
        @media only screen and (max-width: (370 / 16) * 1em) {
            @content;
        }
    }
}
